/* *{
    border: 1px solid red
} */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    color: white;
    background-color: black;
}
.logo{
    width: 30px;
}

i{
    font-size: 24px;
    color: white;
}

.btn-entero{
    width: 100%;
}

.card img{
    height: 150px;
}
.text-area{
    height: 200px;
}